/* New CSS for profile page layout */

#profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile-card {
  width: 650px;
  margin-bottom: 40px;
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#avatar {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

#info {
  padding: 20px;
}

#name {
  font-size: 24px;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

#activity {
  color: #999999;
  font-size: 18px;
  font-weight: 600;
  margin: 5px 0;
}

.tagline {
  font-size: 16px;
  margin: 5px 0;
}

.description {
  margin: 5px 0;
}

.form-container {
  width: 100%;
  margin-bottom: 40px;
}

.upload-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-form input[type="text"],
.upload-form input[type="file"],
.upload-form input[type="submit"] {
  width: 80%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.upload-form input[type="submit"] {
  background-color: #0501f6;
  color: #fff;
  cursor: pointer;
}

.upload-form input[type="submit"]:hover {
  background-color: #2A26FF;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: 40px;
  gap: 40px;
}
@media screen and (max-width: 767px) {
  .cards {
    justify-content: flex-start;
  }
  
  .card {
    width: calc(50% - 20px); /* Two cards per row with 20px gap */
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .card:last-child {
    margin-right: 0;
  }
}


.card {
  width: 18rem;
  margin-bottom: 20px;
}

.card-img-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 200px;
  object-fit: cover;
}
#btn {
  color: white;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  text-align: center;
  max-width: 200px; 
  width: 100%; 
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 10px;
  background: #0501f6;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  display: block;
}

#btn:hover {
  background: #2A26FF;
}

