body{
  background-color: #9a9fa2;  
}

#profile-container {
  display: flex;
  justify-content: center;


}

#profile-card {
  display: flex;
  margin-top: 10px;
  min-width: 70%;
  margin-bottom: 40px;
  background-color: transparent;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: 3px solid rgb(173, 158, 158);
}

@media (max-width: 768px) {

  #profile-card{
    margin-top: 10px;
    /* max-width: 40%; */
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: 3px solid rgb(173, 158, 158);
  }
}


#upload-Container{
  position: relative;
  left: 0;
  color: white;
  margin-top: 70px;
  max-width: 650px;
  padding: 30px;
  margin-bottom: 120px;
}


#avatar {
  width: 400px;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

#info {
  padding: 20px;
  margin-left: 90px;
}

@media (max-width: 768px) {
  #info{
    margin-left: 0px;
  }
}


.img1 {
  width: 70px;
  position: relative;
  top: 20px;
}

#name {
  font-size: 24px;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

#activity {
  color: #eb7c05;
  font-size: 18px;
  font-weight: 600;
  margin: 5px 0;
}

.tagline {
  font-size: 16px;
  margin: 5px 0;
}

.description {
  margin: 5px 0;
}

.upload-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.upload-form input[type="text"],
.upload-form input[type="file"],
.upload-form input[type="submit"] {
  width: 80%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #140303;
  border-radius: 5px;
}

.upload-form input[type="submit"] {
  background-color: #ec0808;
  color: #fff;
  cursor: pointer;
}

.upload-form input[type="submit"]:hover {
  background-color: #ab0e0c;
  border: 2px solid black;
}

.upload-form input[type="text"]{
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 25px;
}

.upload-form input[type="file"]{
  color: #140303;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: 40px;
  gap: 40px;
}
@media screen and (max-width: 767px) {
  .cards {
    justify-content: flex-start;
  }
  
  .card {
    width: calc(50% - 20px); /* Two cards per row with 20px gap */
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .card:last-child {
    margin-right: 0;
  }
}


.card {
  width: 25rem;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .card{
    width: 22rem;
    margin-left: 50px;
  }
}

.card-img-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 200px;
  object-fit: cover;
}

#btn {
  color: white;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  text-align: center;
  max-width: 200px; 
  width: 100%; 
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 10px;
  background: #ea0d0d;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  display: block;
}

#btn:hover {
  background: #a21c20;
}
